<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crawler.dao.HeaderFooterContentMapper" >

    <select id="getHeaderFooterContent" resultType="com.crawler.domain.SysHeaderFooterContent">
        SELECT
        id                          AS id,
        IFNULL(header_content, '')  AS headerContent,
        IFNULL(footer_content, '')  AS footerContent,
        version                     AS version
        FROM sys_header_footer_content
    </select>

    <update id="editHeaderFooterContent"  parameterType="com.crawler.domain.SysHeaderFooterContent">
        UPDATE sys_header_footer_content
        <trim prefix="set" suffixOverrides=",">
            <if test='headerContent != null and headerContent != "" '>
                header_content = #{headerContent, jdbcType=VARCHAR},
            </if>
            <if test='footerContent != null and footerContent != "" '>
                footer_content = #{footerContent, jdbcType=VARCHAR},
            </if>
            version = version + 1,
        </trim>
    </update>

</mapper>