<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crawler.dao.LogMapper" >

    <insert id="logAdd" parameterType="com.crawler.domain.SysLog">
        INSERT INTO sys_log
        <trim prefix="(" suffix=")" suffixOverrides="," >
                id,
            <if test='loginAccount != null and loginAccount != "" '>
                login_account,
            </if>
                execute_time,
            <if test='typeId != 0'>
                type_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                NULL,
            <if test='loginAccount != null and loginAccount != "" '>
                #{loginAccount, jdbcType=VARCHAR},
            </if>
                NOW(),
            <if test='typeId != 0'>
                #{typeId, jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

    <select id="listAll" resultType="com.crawler.domain.SysLog" parameterType="com.crawler.domain.SysLog">
        SELECT
        id AS id,
        login_account AS loginAccount,
        DATE_FORMAT(execute_time, '%Y年%m月%d日 %H:%i:%s') AS executeTime,
        (CASE type_id
        WHEN 1 THEN '登录'
        WHEN 2 THEN '登出'
        END) AS typeName
        FROM sys_log
        <if test='loginAccount != null and loginAccount != "" '>
            WHERE login_account LIKE CONCAT("%", #{loginAccount, jdbcType=VARCHAR}, "%")
        </if>
        ORDER BY execute_time DESC
    </select>

    <select id="getLogCount" resultType="int" parameterType="com.crawler.domain.SysLog">
        SELECT
        COUNT(1)
        FROM sys_log
        <if test='loginAccount != null and loginAccount != "" '>
            WHERE login_account LIKE CONCAT("%", #{loginAccount, jdbcType=VARCHAR}, "%")
        </if>
    </select>

    <delete id="delete">
        DELETE FROM sys_log
    </delete>

</mapper>