<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crawler.dao.SysLockMapper" >

    <select id="getSysLock" resultType="com.crawler.domain.SysLock">
        SELECT system_cron AS systemCron, business_cron AS businessCron FROM sys_lock
    </select>

    <update id="updateSysLock"  parameterType="com.crawler.domain.SysLock">
        UPDATE sys_lock
        <trim prefix="set" suffixOverrides=",">
            <if test='systemCron != null and systemCron != "" '>
                system_cron = #{systemCron, jdbcType=VARCHAR},
            </if>
            <if test='businessCron != null and businessCron != "" '>
                business_cron = #{businessCron, jdbcType=VARCHAR},
            </if>
        </trim>
    </update>

</mapper>