<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT4U-关于</title>
    <meta name="keywords" content="IT资讯">
    <meta name="description" content="IT资讯">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
</head>
<body>
<div th:include="header :: header"></div>
    <div>
        <div class="row" id="dataRow">
            <div class="ibox-content">
                <p>IT4U 坚持分享最新的IT资讯，软件更新等文章</p>
                <p>关于站名：IT4U<i class="fa fa-hand-o-right fa-fw"></i>IT FOR YOU</p>
                <p>关于站长：从事JavaWeb开发5年以上，关注程序性能优化，分布式系统等领域</p>
                <p>如有任何问题，请联系it4u_china@126.com</p>
            </div>
        </div>
    </div>
<div th:include="footer :: copyright"></div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
