<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<body>
<div th:fragment="copyright">
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <div class="navbar-footer" style="text-align: center">
                <H4>Copyright 2018 by IT4U &nbsp;&nbsp;&nbsp;&nbsp;辽ICP备18001773号</H4>
            </div>
        </div>
    </nav>
</div>
</body>
</html>