<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT4U-统计</title>
    <meta name="keywords" content="统计">
    <meta name="description" content="统计">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
</head>
<body>
<div th:include="header :: header"></div>
<div>
    <div class="row" id="dataRow">
        <div class="ibox-content">
            &nbsp;&nbsp;<div><h3>以下统计结果来自本网站大数据平台，采用SparkStreaming流式计算技术。</h3></div><hr>
            &nbsp;&nbsp;<div><h2>网站点击总人次：<span id="totalClickCount" style="color: rebeccapurple"></span></h2></div><br><br>
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="main" style="width: 100%;height:400px;"></div>
            <div id="main2" style="width: 100%;height:400px;"></div>
        </div>
    </div>
</div>
<div th:include="footer :: copyright"></div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:src="@{/common/commonUtil.js}"></script>
<script th:src="@{/js/stat.js}"></script>
</body>
</html>